<%=stylesheet_link_tag :all%>
<body bgcolor="Steelblue">
<center>
<div class="err_msg" s>
<% if flash[:notice]%>
<%=flash[:notice]%>
<%end%>
</div>
<div class="signin-box"  >

</br>
<div style="color:Darkblue;text-align:center;font-size:80%">Please enter your valid email id same as u submitted during signup </span></div>
<% form_for :user do |f|%>
<table >
	<tr>
		<td class="des_right" style="font-size:70%" nowrap>Enter your email id:</td>
		<td class="des_left" style="font-size:50%"><%=text_field_tag "email"%></td>
	</tr>
	<tr>
		<td colspan="2"><center><%=f.submit :submit%></center></td>
	</tr>
</table>
<%end%>
</div>
</center>
</body>
