<div class="photo">
<% fields_for "album[photo_attributes][]", photo do |p| %>
	<%#=p.label :image_description%>
    <%#=p.text_field :image_description%>
<div>
    <%= p.file_field :image, :index => nil %>
<%=button_to_function "delete", "$(this).up('.photo').remove()" %></div>
  </p>
<% end %>
</div>
